.cambiocolor{
	background-color: blue !important; 
}
#caja{
	height: auto;
	width: 240px;
    min-height: 30px;
    padding: 4px;
    border-radius: 3px;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    background: rgba(0,0,0,.12);
    cursor: pointer;
    color: black;
}
#placholder{
	padding: 7px;
    /*color: rgba(255,255,255,.7);*/
}
.ocultar{
	display: none;
}
.mostrar{
	display: block;
}